- current_user.groups.each do |a_group|
    = link_to group_messages_path(a_group) do
        .group
            .group__group-name
                = a_group.name
            .group__latest-message
                = a_group.show_last_message


