.message
  .message__upper-info
    %p.message__upper-info__user kumagai
    %p.message__upper-info__date 2019/04/16
  %p.message__text メンター猫
  %img{:alt => "", :src => "/uploads/message/image/1601/Sneko210DSC03390_TP_V4.jpg"}/
