<div class="flash">
</div>
<div class="wrapper">
  <div class="chat-side">
      <div class="side-header">
          <p class="user-name"></p>
          <ul class="user-menu">
            <li class="edit-user">
              <a href=""></a>
            </li>
            <li class="new-group">
              <a href=""></a>
            </li>
          </ul>
        </div>
  </div>
  <div class="chat-main">

  </div>
</div>