<div class="flash">
</div>
<div class="wrapper">
  <div class="chat-side">
      <div class="side-header">
          <p class="user-name">熊谷裕樹</p>
          <ul class="user-menu">
            <li class="edit-user">
              <a href="">
                <i class="fa fa-edit"></i>
              </a>
            </li>
            <li class="new-group">
              <a href="">
                <i class="fa fa-cog"></i>
              </a>
            </li>
          </ul>
        </div>
      <div class="groups">
        <!-- 以下は部分テンプレート部分 -->
        <a href="">
          <div class="group">
            <p class="group-name">猫好き集まれ</p>
            <p class="latest-messeage">可愛い猫の写真を共有しましょう！</p>
          </div>
        </a>
        <!-- ここまで部分テンプレート -->
      </div>
  </div>
  <div class="chat-main">

  </div>
</div>