@import "./reset";
@import  "./variable";
@import "font-awesome"; 

*{
  box-sizing: border-box;
}

.flash-box{
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}

.chat-side {
  width: 300px;
  color: white;
  float: left;
}