@import "./reset";
@import "font-awesome";

.chat-side{
  width: 300px;
  color: white;
}
.side-header{
  background-color: #253141;
  height: 100px;
  font-weight: bold;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-menu{
  display: flex;
}

.user-menu li{
  margin-left: 0.3rem;
}

